.main-container {
  width: var(--container-width);
  max-width: var(--container-max-width);
  margin: 0 auto;
}

.content-container {
  margin: 6.5rem auto;
  overflow-x: hidden;
  width: var(--container-width);
  max-width: var(--container-max-width);
}
