.header-image-container {
  width: 100%;
  height: 650px;
  position: relative;
}

.header-image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: contain;
}

.header-image-container img {
  filter: brightness(0.7);
}

.main-header-content {
  z-index: 111;
  color: white;
  position: absolute;

  top: 65%;
  right: 0;
  transform: translateX(-20%);

  text-align: center;
}


.main-header-content h2 {
  font-style: italic;
  font-weight: lighter;
}


@media (max-width: 650px) {
  .main-header-content {
    width: 100%;
    top: 65%;
    right: 50%;
    transform: translate(50%, 0%);
  }

  .main-header-content {
    width: 100%;
    top: 65%;
    right: 50%;
    transform: translate(50%, 0%);
  }
}
