.home-content {
  section {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 2.5rem auto 0;

    h2 {
      text-align: left;
      margin-top: 0;
    }

    .text {
      position: relative;
      // text-align: justify;
    }

    a { // ? LINK BUTTON FROM NEXT JS // Includes an arrow SVG
      margin: 2rem 0 5rem;
      display: block;

      width: 25rem;
      text-align: center;
      padding: 1rem 2rem;
      border-radius: 0.5rem;
      border: 1px solid var(--primary-color);
      background-color: var(--primary-color);
      color: var(--white);
      text-decoration: none;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 2rem;
      transition: all 0.3s ease-in-out;

      &:hover {
        background-color: var(--white);
        color: var(--primary-color);
      }

      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;

      svg {
        // align-self: flex-start;
        width: 3rem;
        height: 3rem;
      }
    }
  }
}


.trigger-in-view-animation {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(200%, 300%);
  background-color: transparent;
  width: 50px;
  height: 50px;
}
